
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

::selection{
    background-color: #183E33;
    color: white;
}

/*SCROLL*/
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4b5a56;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #a1a1a1;
  }
  



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*header compnents*/
header{
    min-height: 100vh;
    background-color: #C2C0A6;
}

/*nav*/
.nav__header{
    text-align: left;
    background-color: #183E33;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 30px;
    
}
.list__header{
    display: flex;
    list-style: none;
    justify-content: start;
}

.list__item{
    margin-right: 65px;
    color: #C2C0A6;
    text-decoration: none;
    font-size: 24px;
    font-family:'Source Code Pro', monospace;
    font-weight: 900;
}

.list__item:hover{
    text-decoration: underline;
    color: aliceblue;
}

.list__header:nth-child(1){
    margin-left: 65px;
}

/*Content Header*/
.content{
    
    align-items: center;
}

.intro__content{
    font-family: 'Source Code Pro', monospace;
    padding-top: 65px;
    padding-left: 150px;
    display: flex;
    font-size: 38px;
    color: #183E33 ;
}

.description__content{
    width: 50%;
    
}

.fstack{
    color: #02643a;
}




@keyframes t{
    90%,100% {width:100%}
}
  
  
.foto__scope{
    width: 500px;
    height: 500px;
    display: inline-block;
}

.foto__dennis{
    width: 400px;
    height: 400px;
    margin-top: 133px;
}

/*main components*/
.projects{
    padding-left: 109px;
    padding-right: 109px;
    color: #faf6c8;
    background-color: #6A8C69;
    padding-bottom: 30px;
}

/*project styles*/
.chess-system__title ,.jogo-da-memoria__title, .Portfolio-Ingles-Instrumental__title, .LinearRegression__title{
    padding-top: 40px;
    color: #200AAD;
    padding-bottom: 20px;
    font-size: 38px;
}

.chess-system__title a , .jogo-da-memoria__title a,.Portfolio-Ingles-Instrumental__title a, .LinearRegression__title a{
    text-decoration: none;
    color: #200AAD;
}

.chess-system__title a:hover ,.jogo-da-memoria__title a:hover, .Portfolio-Ingles-Instrumental__title a:hover, .LinearRegression__title a:hover{
    text-decoration: underline;
}

.chess-system__content ,.jogo-da-memoria__content, .Portfolio-Ingles-Instrumental__content,.Portfolio-Ingles-Instrumental__content , .LinearRegression__content{
    display: flex;
}
.chess-system__img {
    width: 216px;
    height: 216px;
}

.chess-system__description, .jogo-da-memoria__description , .Portfolio-Ingles-Instrumental__description, .LinearRegression__description{
    margin-left: 20px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 24px;
}

.jogo-da-memoria__img{
    width: 350px;
    height: 250px;
}

.jogo-da-memoria__description, .LinearRegression__description{
    margin-left: 0;
    margin-right: 30px;
}




.Portfolio-Ingles-Instrumental__img{
    width: 350px;
    height: 220px;
}

.LinearRegression__img{
    width: 300px;
    height: 300px;
}


/*ABOUT*/
.about{
    background-color: #183E33;
    color: #C2C0A6;
}


.content__about{
    padding: 60px;
}

.content__about h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.introduction__about{
    padding-left: 30px;
    padding-right: 60px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2rem;
}

.I_love{
    color: #fffab1;
}

